body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(176, 201, 210);
}

#box1, #box2, #box3 {
    position: relative;
    max-width: 700px;
    min-height: 160px;
    padding: 30px;
    margin: 30px auto;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 254, 254);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

p {
    font-size: 14px;
    margin-bottom: 20px;
}

#box1 img, #box2 img, #box3 img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    max-width: 50%;
    object-fit: contain;
}

.sporty {
    color: rgb(217, 44, 10);
}

.casual {
    color: blue;
}

.formal {
    color: rgb(45, 2, 2);
}

#box1 a,
#box2 a,
#box3 a {
    /* display: inline-block; */
    text-decoration: none;
    padding: 9px 16px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
}

#box1 a { background-color: rgb(217, 54, 75); }
#box2 a { background-color: rgb(15, 63, 156); }
#box3 a { background-color: rgb(59, 31, 22); }